/*--------------скидання дифолтних стилів+щсновні правила----------------*/

/*---------------------------------HEADER---------------------------------------*/


/*-------------------------------MAIN SECTION---------------------------------*/

.main-section{
    background-color: #2E2F42;
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
}
.main-title{
    font-family: Roboto,sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}
.main-button{
    font-family: Roboto, sans-serif;
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    min-width: 169px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover{
    background: #404BBF;
}
.main-button:focus{
    background: #404BBF;
}
/*-------------------------------BENEFITS------------------------------------*/
.benefits-sec{
    padding: 120px 0
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.card-benefits{
display: flex;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
border-radius: 4px;
border: 1px solid #8E8F99;
background-color: #F4F4FD;
fill: #2E2F42;
padding: 24px 100px;
margin-bottom: 8px;
}

.benefits-main-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-benefits{
    width: calc((100% - 72px) / 4);
}
.main-list{
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.par-benefits{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*-----------------------------OUR TEAM--------------------------------------*/
.sec-team{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.main-team-title{
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list-team{
    display: flex;
    gap: 24px; 
}
.list-team-item{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
}
.list-item-par{
    padding: 32px 0px;
}
.team-title{
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.par-team{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-links{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links:hover,
.team-links:focus{
    background-color: #404bbf;
}
.icons{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.icons-item{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.icons-item:hover, 
.icons-item:focus{
      background-color: #31D0AA;
}
.team-icons{
    fill: #f4f4fd;
}
/*--------------------------------PORTFOLIO------------------------------------*/
.portfolio-sec{
    padding: 120px 0;
}
.title-portfolio{
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item:hover .text-over {
    transform: translateY(0);
}
.portfolio-list-item{
    background-color: #FFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.photo-over-div{
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover{
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     cursor: pointer;
}
.text-over{
    color:#F4F4FD;
        letter-spacing: 0.02em;
        background-color: #4D5AE5;
        padding: 40px 32px;
        position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-text{
    padding: 32px 16px;
    border: 1px solid  #E7E9FC;
    border-top: 0px;
    background: #FFF;
}
.portfolio-title{
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


.port-par{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*--------------------------------FOOTER------------------------------------*/
.sec-footer{
    background: #2E2F42;
    padding: 100px 0;
}
.div-footer{
    display: flex;
    align-items: baseline;
}
.div-footer-logo{
    margin-right: 120px;
}
.logo-footer{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-st{
    color: #F4F4FD;
}
.text-footer{
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer-list-icons{
    margin-right: 80px;
}
.footer-par{
    color: #FFF;
     font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}
.icons-footer{
    display: flex;
    gap: 16px;
}
.icons-item-footer{
    width: 40px;
    height: 40px;

}
.icon-footer{
    fill:#f4f4fd;
}
.footer-lnk:hover,
.footer-lnk:focus {
    background-color: #31d0aa;
}

/*-----------------------------FOOTER FORM--------------------------------*/
.footer-subscribe{
}
.footer-par-subscribe{
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form-subscribe{
    display: flex;
    gap: 24px;
}
.footer-lable{
    display: flex;
     gap: 24px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.your-email{
    width: 264px;
    height: 40px;
    font-size: 12px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left:16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms linear;
}

.your-email::placeholder{
    color:#FFF;
}
.your-email:focus{
    border-color: #4D5AE5;
}

.footer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus{
    background-color: #404BBF;
}
.icon-subscribe{
    margin-left: 16px;
}
/*------------------------BACDROP----------------------------------*/
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color:  rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background:  #FCFCFC;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-close-btn{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;

    border-radius: 50%;
    background-color: #E7E9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-btn:hover,
.form-close-btn:focus{
    background-color: #404BBF;
    border: none;
}
.form-close-btn:hover > .form-close-btn-icon,
.form-close-btn:focus> .form-close-btn-icon{
    fill: #FFF;
}

.title-texst-backdrop{
    display: block;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5px;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 16px;
}
/*-------------------------------FORM-------------------------------*/
.form-label{
    display: block;
    margin-bottom: 4px;
    color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.form{
    margin-bottom:8px;
}
.form-contacts-wrapper{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46,47,66,0.40);
     border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.form-icons{
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus + .form-icons{
    fill: #4D5AE5;
}

.form-contacts{
    margin-bottom: 16px;
}

.form-input:focus{
    border-color:#4D5AE5;
}
.form-contacts-coments{
    margin-bottom: 16px;
}
.form-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    border:1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    resize: none;
}

.form-comment:focus {
    border-color: #4D5AE5;
}
.form-comment::placeholder{
     color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
}


/*----------------------------------policy--------------------------------*/

.form-contacts-checkbox{
    margin-bottom: 24px;
}
.form-checkbox:checked +.form-label >.check-mark{
    background-color: #404BBF;
    fill:#F4F4FD;
    border: none;
}
.form-checkbox:checked +.form-label .icon-check-mark{
    opacity: 1;
}
.check-mark{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label > a{
    color: #4D5AE5;
}
.icon-check-mark{
    fill: #FFF;
    opacity: 0;
}
.form-button{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus{
background-color: #404BBF;
}